<h1>Flights Booker</h1>

<%= form_with url: flights_path, method: :get do |f| %>
    <div>
        <%= f.label :departure_airport %>
        <%= f.select(:departure_airport_id, @airport_options)%>
    </div>

    <div>
        <%= f.label :arrival_airport %>
        <%= f.select(:arrival_airport_id, @airport_options)%>
    </div>

    <div>
        <%= f.label :passengers %>
        <%= f.select(:num_passengers, [*1..4])%>
    </div>

      
    <div>
        <%= f.label :date %>
        <%= select_tag(:date, options_for_select(@date_options)) %>
    </div>


    <%= f.submit "Search" %>
<% end %>

<h2>Available Flights</h2>

<% if @available_flights.any? %>

    <%= form_with url: new_booking_path, method: :get do |f| %>
        <%= f.hidden_field :num_passengers %>
        <%= f.collection_radio_buttons :flight_id, @available_flights, :id, :departure_time %>
        <%= f.submit "Book a passage"%>
    <% end %>

<% else %>
    <p>There are no available flights </p>
<% end %>