<h1>New Booking</h1>

<%= form_with url: '#', method: :get do |f| %>
    <div>
        <%= f.label :flight_id %>
        <%= f.number_field :flight_id, value: @flight.id ,readonly: true %>
        <%= f.label :departure_airport %>
        <%= f.text_field :departure_airport, value: @flight.departure_airport.codename ,readonly: true %>
        <%= f.label :arrival_airport %>
        <%= f.text_field :arrival_airport, value: @flight.arrival_airport.codename ,readonly: true %>
    </div>

    <div>
        <%= f.label :date %>
        <%= f.date_field :date, value: @flight.date.to_date, readonly: true %>
        <%= f.label :departure_time %>
        <%= f.time_field :time, value: @flight.departure_time, readonly: true  %>
    </div>

    <% @num_passengers.times do |num| %>
        <%= f.fields_for :passengers do |passengers_form| %>
            <h3>Passenger <%= num + 1 %></h3>
            <div>
                <%= passengers_form.label :name %>
                <%= passengers_form.text_field :name %>
            </div>

            <div>
                <%= passengers_form.label :email %>
                <%= passengers_form.email_field :email %>
            </div>
        <% end %>
    <% end %>

    <%= f.submit "Buy Tickets" %>
<% end %>
